<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!-- <m eta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"> -->



    <title class="text-uppercase">gavali</title>


    <style>
        body{font-family:sans-serif; background-color: white; height: 100%; width: 100%;}

    </style>
</head>
<body>
<h1 class="text-uppercase">gavali</h1>

<div>



</div>

<br>
<input onclick="print()" type="button" value="print"/>
<br>
<br>
<br>
<!-- You can also require other files to run in this process -->
<script src="./renderer.js"></script>
</body>
</html>
